body {
	font-size: 8pt;
	font-family: arial,sans-serif;
	font-size: 12px;
	line-height:160%;
	margin: 0;
	margin-top: 4px;
	margin-left: 4px;
	padding: 1em;
	min-width: 40em;
}
img {
	border-color: AntiqueWhite;
	border-style: solid;
}
pre {
	background-color: AntiqueWhite;
	font-size: 11px;
	border-style: solid;
	border-color: Black;
	border-width: 1px;
}
li {
	margin-bottom: 1em;
}
.menubox {
	padding-top: 4px;
	padding-bottom: 2em;
	min-width: 1000px;
	overflow: hidden;
}
.content {
	margin-bottom: 1em;
	margin-right: 4em; 
	color: Black;
	border-width: 3px;
	border-style: solid;
	background-color: #D6CCC0;
	font-family: Verdana, Arial, Sans-Serif;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-decoration: none;
	border-color: AntiqueWhite
}
.menulink {
	margin-top: 4px;
	margin-bottom: 1em;
	margin-right: 3em; 
	color: Black;
	border-width: 3px;
	border-style: solid;
	background-color: #D6CCC0;
	font-family: Verdana, Arial, Sans-Serif;
	font-weight: bold;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-decoration: none;
	border-color: AntiqueWhite
}
.mosaic {
	height: 208px; 
	margin: 0;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-top-width: 4px;
	border-left-width: 4px;
	float: left;
}
.navbar {
	border-width: 3px;
	border-style: solid;
	background-color: #D6CCC0;
	font-family: Verdana, Arial, Sans-Serif;
	margin-top: 8px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-bottom: 1em;
	border-color: AntiqueWhite
}
img.logo {
	margin-top: 0;
	margin-bottom: 4px;
	border-width: 4px;
}
img.framed {
	border-width: 4px;
}
a {
	color: black;
	font-weight: bold;
	text-decoration: none
}
a:hover {
	text-decoration:underline;
}
font.inactive {
	color: #555555;
	font-weight: bold
}

font.underlined {
	text-decoration: underline;
}
h2 {
	font-family: arial,sans-serif;
	font-size: 20px;
	font-weight: bold;
}
h3 {
	margin-top: 3em;
	font-family: arial,sans-serif;
	font-size: 16px;
	font-weight: bold;
}
.anchor {
	font-family: arial,sans-serif;
	font-size: 16px;
	font-weight: bold;
}
b {
	color: #353730;
	font-weight: bold
}